// importacoes
@import './configs/variaveis.less';

// classes
.btn__chamativo{
    background-color: @corFundoBotao;
    border-radius: 40px;
    padding: 9px 24px;
    border: 2px solid transparent;

    // responsividade
    @media (max-width: 767px){
        margin-bottom: 16px;
        margin-top: 16px;
    }
}

.titulo{
    color: @corTexto;
    text-align: left;
    width: 100%;
    margin: 40px 40px;
}